* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: red;
}

.ui-left {
    position: absolute;
    background-color: lightgray;
    top: 29px;
}

.status {
    position: absolute;
    background-color: white;
    padding: 5px;
    width: 100vw;
    box-sizing: border-box;
}

.folder {
    border-bottom: 2px solid black;
    min-width: 20vw;
}

.folder * {
    margin: 2px;
}

.folder>* {
    margin-left: 20px;
}

.folder>p:nth-child(1) {
    margin-left: 5px;
    cursor: pointer;
}

#pattern {
    font-family: monospace;
    width: 20vw;
    height: 50vh;
}

#command-txt {
    display: inline-block;
    width: 300px;
}